.target-pocket {
  background-color: #EFEFEF;
}

.buttons-row {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-row .MuiSvgIcon-root {
  font-size: 1.5rem;
}

.buttons-row .MuiIconButton-root {
  color: rgba(0, 0, 0, 0.84);
}

.buttons-row .MuiButton-root {
  border-radius: 2rem;
}

.pockets-container {
  position: relative;
}

.submit-button-row {
  background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
    position: absolute;
    width: 100%;
    margin: -2.5rem 0;
}

.exchange-rating {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  vertical-align: middle;
  font-size: 0.9rem;
  margin: 0 1rem;
}
