.target-pocket {
  background-color: #EFEFEF;
}

.buttons-row {
  position: absolute;
  top: calc(50% - 1.5em);
}

.buttons-row .MuiSvgIcon-root {
  font-size: 1.5em;
}

.buttons-row .MuiIconButton-root {
  color: rgba(0, 0, 0, 0.84);
}

.pockets-container {
  position: relative;
}

.submit-button-row {
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  padding: 0 0 15px 0;
}
