.pocket-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.55em;
  min-width: 25.5em;
}

.amount-for-conversion-wrapper .MuiFormHelperText-root {
  text-align: right;
}

.amount-for-conversion-wrapper .MuiInputBase-input {
  text-align: right;
}
